---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nzbget
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      nzbget:
        annotations:
          secret.reloader.stakater.com/reload: qbittorrent-secret

        containers:
          app:
            nameOverride: nzbget
            image:
              repository: ghcr.io/linuxserver/nzbget
              tag: version-v25.4
            env:
              PUID: 2000
              PGID: 2000
            securityContext:
              runAsUser: 2000
              runAsGroup: 2000
              fsGroup: 2000
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 8Gi

          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.1
            env:
              VPN_SERVICE_PROVIDER: ipvanish
              VPN_TYPE: openvpn
              FIREWALL_INPUT_PORTS: 6789
              FIREWALL_OUTBOUND_SUBNETS: 10.0.0.0/8 # Allow access to k8s subnets
            envFrom:
              - secretRef:
                  name: nzbget-secret
            resources:
              limits:
                squat.ai/tun: "1"
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
              allowPrivilegeEscalation: false

    service:
      app:
        controller: nzbget
        ports:
          http:
            port: 6789

    ingress:
      app:
        className: "internal"
        hosts:
          - host: nzbget.maunder.co
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: nzbget-config

      media:
        type: nfs
        server: 192.168.1.100
        path: /mnt/Data/Media
        advancedMounts:
          nzbget:
            app:
              - path: /media

      tmpfs:
        type: emptyDir
        advancedMounts:
          nzbget:
            app:
              - path: /config/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
