---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kyverno.io/clusterpolicy_v1.json
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: volsync-movers
  annotations:
    policies.kyverno.io/title: Mutate Volsync mover jobs
    policies.kyverno.io/subject: Pod
spec:
  rules:
    - name: add-jitter-to-volsync-jobs
      match:
        any:
          - resources:
              kinds: ["batch/v1/Job"]
              names: ["volsync-src-*"]
              namespaces: ["*"]
              selector:
                matchLabels:
                  app.kubernetes.io/created-by: volsync
      mutate:
        patchStrategicMerge:
          spec:
            podReplacementPolicy: Failed
            template:
              spec:
                initContainers:
                  - name: jitter
                    image: docker.io/library/busybox:latest
                    imagePullPolicy: IfNotPresent
                    command: ['sh', '-c', 'sleep $(shuf -i 0-60 -n 1)']

