---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: octoeverywhere
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      octoeverywhere:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          neppro:
            image:
              repository: octoeverywhere/octoeverywhere
              tag: 4.6.4
            env:
              COMPANION_MODE: klipper
              PRINTER_IP: 192.168.1.50
              TZ: Europe/London
          centcarbon:
            image:
              repository: octoeverywhere/octoeverywhere
              tag: 4.6.4
            env:
              COMPANION_MODE: elegoo
              PRINTER_IP: 192.168.1.212
              TZ: Europe/London
    persistence:
      config:
        enabled: true
        existingClaim: octoeverywhere-neppro-config
        advancedMounts:
          octoeverywhere:
            neppro:
              - path: /data
      centconfig:
        enabled: true
        existingClaim: octoeverywhere-centcarbon-config
        advancedMounts:
          octoeverywhere:
            centcarbon:
              - path: /data
