---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre-web-downloader
spec:
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      calibre-web-downloader:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/calibrain/calibre-web-automated-book-downloader
              tag: 20250815@sha256:6b25a35de28e31e91f13a86d1be227ef9eb61c034c4d7edf27f09c5c07ab29c0
              pullPolicy: IfNotPresent
            env:
              - name: FLASK_PORT
                value: 8084
              - name: UID
                value: 2000
              - name: GID
                value: 2000
              - name: USE_CF_BYPASS
                value: false
              - name: INGEST_DIR
                value: /books/Import/cwa-book-ingest
              - name: BOOK_LANGUAGE
                value: en
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.0
            env:
              VPN_SERVICE_PROVIDER: ipvanish
              VPN_TYPE: openvpn
              FIREWALL_INPUT_PORTS: 8084
              FIREWALL_OUTBOUND_SUBNETS: 10.0.0.0/8 # Allow access to k8s subnets
            envFrom:
              - secretRef:
                  name: qbittorrent-secret
            resources:
              limits:
                squat.ai/tun: "1"
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
              allowPrivilegeEscalation: false

    service:
      app:
        controller: calibre-web-downloader
        ports:
          http:
            port: 8084

    ingress:
      app:
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.maunder.co
        hosts:
          - host: book-downloader.maunder.co
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: calibre-web-downloader
        advancedMounts:
          calibre-web-downloader:
            app:
              - path: /config

      media:
        type: nfs
        server: 192.168.1.100
        path: /mnt/Data/Media/Books
        globalMounts:
          - path: /books
      cache:
        type: emptyDir
        globalMounts:
          - path: /cache
      injest:
        type: nfs
        server: 192.168.1.100
        path: /mnt/Data/Media/Books/Import/cwa-book-ingest
        globalMounts:
          - path: /cwa-book-ingest
