---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: manyfold
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      manyfold:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          chown-tmpdirs:
            image:
              repository: docker.io/library/alpine
              tag: "3.23"
            command:
              - /bin/sh
              - -c
            args:
              - |
                chmod o-rwx /tmp
            securityContext:
              runAsUser: 0
        containers:
          app:
            image:
              repository: ghcr.io/bjw-s-labs/manyfold
              tag: 0.131.0@sha256:c2e7d43e4fd6fda1f750681f85a6237ed8d86a328b4758baca4d22071be31cd9
            env:
              DATABASE_URL: sqlite3:/data/database/manyfold.sqlite3
              MULTIUSER: false
              PORT: &port 3214
              REDIS_URL: "redis://dragonfly.database.svc.cluster.local:6379"
              REGISTRATION: false
              SECRET_KEY_BASE:
                valueFrom:
                  secretKeyRef:
                    name: manyfold-secret
                    key: MANYFOLD_SECRET_KEY
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 20m
                memory: 128Mi
              limits:
                memory: 1536Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: manyfold
        ports:
          http:
            port: *port

    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.maunder.co
        className: internal
        hosts:
          - host: "stl.maunder.co"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      data:
        existingClaim: "manyfold-data"
        advancedMounts:
          manyfold:
            app:
              - path: /data/database
                subPath: database
              - path: /data/libraries/main
                subPath: libraries/main

      tmpfs:
        type: emptyDir
        advancedMounts:
          manyfold:
            app: &tmpdirs
              - path: /tmp
                subPath: host-tmp
              - path: /app/tmp
                subPath: app-tmp
              - path: /app/log
                subPath: app-log
            chown-tmpdirs: *tmpdirs
