---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: manyfold-data
spec:
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 10Gi
  storageClassName: ceph-filesystem
