---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: 39.0.1
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudflared
      namespace: network
  values:
    deployment:
      replicas: 2

    env:
      - name: BOUNCER_KEY_TRAEFIK
        valueFrom:
          secretKeyRef:
            name: traefik-crowdsec-secret
            key: BOUNCER_KEY_TRAEFIK

    global:
      checkNewVersion: false
      sendAnonymousUsage: false

    additionalArguments:
      - --serversTransport.insecureSkipVerify=true
      - --providers.kubernetescrd.allowCrossNamespace=true

    ports:
      websecure:
        port: 8443
        expose:
          default: true
        exposedPort: 443
        protocol: TCP
        http:
          middlewares:
            - network-crowdsec-bouncer@kubernetescrd
            - network-error-pages@kubernetescrd
          tls:
            enabled: true
            options: "default"
        forwardedHeaders:
          trustedIPs:
            - 10.0.0.0/8
            - 192.168.0.0/16
          insecure: false
        proxyProtocol:
          trustedIPs:
            - 10.0.0.0/8
            - 192.168.0.0/16
          insecure: false
      metrics:
        port: 9100
        expose:
          default: false
        protocol: TCP

    service:
      enabled: true
      type: LoadBalancer
      annotations:
        io.cilium/lb-ipam-ips: "192.168.1.191"
      spec:
        externalTrafficPolicy: Cluster

    api:
      dashboard: true

    ingressRoute:
      dashboard:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.maunder.co
        entryPoints:
          - websecure
        matchRule: Host(`traefik.maunder.co`)
        tls:
          secretName: "${SECRET_DOMAIN}-production-tls"

    ingressClass:
      enabled: true
      isDefaultClass: true
      name: internal

    experimental:
      plugins:
        bouncer:
          moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
          version: v1.5.0

    providers:
      kubernetesCRD:
        enabled: true
        allowCrossNamespace: true
        allowExternalNameServices: true
      kubernetesIngress:
        enabled: true
        allowExternalNameServices: true
        publishedService:
          enabled: true

    tlsStore:
      default:
        defaultCertificate:
          secretName: "${SECRET_DOMAIN}-production-tls"

    logs:
      general:
        level: INFO
      access:
        enabled: true
        format: json
        fields:
          general:
            defaultmode: keep
          headers:
            defaultmode: drop

    metrics:
      prometheus:
        enabled: true
        service:
          enabled: true
        serviceMonitor:
          enabled: true
          namespaceSelector:
            any: true

    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 512Mi

    securityContext:
      capabilities:
        drop: [ALL]
      readOnlyRootFilesystem: true
      runAsGroup: 65532
      runAsNonRoot: true
      runAsUser: 65532

    podSecurityContext:
      fsGroup: 65532
      fsGroupChangePolicy: OnRootMismatch

    extraObjects:
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: crowdsec-bouncer
          namespace: network
        spec:
          plugin:
            bouncer:
              enabled: true
              crowdsecMode: stream
              crowdsecLapiScheme: http
              crowdsecLapiHost: crowdsec-service.security.svc.cluster.local:8080
              crowdsecLapiKey: '{{ (lookup "v1" "Secret" "network" "traefik-crowdsec-secret").data.BOUNCER_KEY_TRAEFIK | b64dec }}'
              updateIntervalSeconds: 10

