---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./middlewares.yaml
  - ./error-pages.yaml
  - ./ingressclass-external.yaml
