---
apiVersion: v1
kind: Service
metadata:
  name: traefik-external
  namespace: network
  annotations:
    io.cilium/lb-ipam-ips: "192.168.1.193"
    external-dns.alpha.kubernetes.io/hostname: "external.${SECRET_DOMAIN}"
spec:
  type: LoadBalancer
  externalTrafficPolicy: Cluster
  selector:
    app.kubernetes.io/name: traefik
  ports:
    - name: websecure
      port: 443
      targetPort: websecure
      protocol: TCP
