---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich-server
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.3.1
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
            env:
              UPLOAD_LOCATION: /usr/src/app/upload
            envFrom:
              - secretRef:
                  name: immich-secret
    service:
      app:
        controller: main
        ports:
          http:
            port: 2283
    ingress:
      app:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.maunder.co
        hosts:
          - host: &host photos.maunder.co
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
    persistence:
      photos:
        existingClaim: immich-smb
        globalMounts:
          - path: /usr/src/app/upload
      media:
        type: nfs
        server: 192.168.1.100
        path: /mnt/Data/Pictures
        globalMounts:
          - path: /storage/Pictures

