---
# Cilium BGP peering policy for advertising LoadBalancer IPs to OPNsense
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPPeeringPolicy
metadata:
  name: l3-policy
spec:
  nodeSelector:
    matchLabels:
      kubernetes.io/os: linux
  virtualRouters:
    - localASN: 64513
      neighbors:
        - peerAddress: "192.168.1.254/32"
          peerASN: 64512
          peerPort: 179
      serviceSelector:
        matchExpressions:
          - key: somekey
            operator: NotIn
            values:
              - never-used-value
---
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: l3-pool
spec:
  allowFirstLastIPs: "Yes"
  blocks:
    - cidr: "192.168.1.191/32"
    - cidr: "192.168.1.192/27"
